
.pure-u-10-24{
    margin-block-end: 30px;
    
}

.pure-u-20-24{
    margin-block-end: 30px;
}

.pure-u-2-24{
    background-color: grey;
    
}
h1{
    margin-block-start: 0px;
    text-align: center;
    background-color: #fb6a4a;
    margin-block-end: 1px;
}
p{
    margin-block-start: 2px;
    font-size: smaller;
    color: grey;
}

#industry1{
    align-content: center;
}
